BODY {
  font-size: 16pt;
  color: white;
  background-color: black;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;}

a:link {color: #CCC;}
a:visited {color: #cd9575;}
a:active {color: #cd9575;}

a:link.external {color: #77216F; text-decoration: none;}
a:visited.external {color: #cd9575; text-decoration: none;}
a:active.external {color: #cd9575; text-decoration: none;}

H1 {color: #cd9575;}
H2 {color: #cd9575;}
H3 {color: #cd9575;}

P {max-width: 85ex;}

div {
	font-size: 18px;
	line-height: 1.4em;
}

LI {margin: 16px 0px 16px 0px; max-width: 85ex;}

PRE {color: #202080;}

EM {color: #DDD;}
STRONG {color: #DDD;}
DFN {color: #DDD;}
VAR {color: #DDD;}

SAMP {color: #202080}
TT {color: #202080;}
CODE {font-size: 18px; color: #AAA; white-space: pre;}

rw {font-style: italic; color: #602020;}
eqn {font-style: italic; color: 202080;}

DIV.equation {font-style: italic; color: #202080; margin: 16px 0px 16px 0px;}
DIV.equation EM {color: red;}

SPAN.equation {font-style: italic; color: #202080;}
SPAN.equation EM {color: red;}

SPAN.program {font-family: monospace;}
SPAN.rw {font-family: monospace; font-style: italic;}

lambda {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #cd9575;
}

biglambda {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:36px;
    color: #cd9575;
}

hr {
  border: 0;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #fff;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #cd9575
}

footer {
	font-size:12px;
	font-style:italic;
	color:#CCC;
}

sidebar {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	letter-spacing: 2px;
	font-size:20px;
}

HTML {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#pdfdisplay {
	height: 70vh;
}
